.container {
  display: flex;
  height: calc(100vh - 80px);
}

.header {
  grid-area: header;
  border-bottom: 1px solid var(--cord-grey);
}

.supportChatContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'threads'
    'composer';
  width: 100%;
  padding-right: 8px;
  height: 100%;
}

.threads {
  grid-area: threads;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow: auto;
}

.threadReplies {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8rem;
  color: var(--cord-grey-dark);
  padding-left: 36px;
  cursor: pointer;
}

.supportChatContainer :global(.cord-component .cord-composer) {
  grid-area: composer;
  /*  margin matches that in the thread details */
  margin-top: 12px;
}
