.container {
  display: grid;
  gap: 12px;
  border: 1px solid var(--cord-grey);
  border-radius: 6px;
  padding: 24px;
  max-width: 600px;
}

.title {
  border-bottom: 1px solid var(--cord-grey);
  padding-bottom: 12px;
}

.toggleContainer {
  display: flex;
  gap: 4px;
  min-width: 400px;
}

.submitMessageAndButton {
  display: flex;
  gap: 16px;
}
