.container {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "threads-header"
    "threads"
    "composer";
}

.threads {
  grid-area: threads;
  overflow-y: auto;
}
