.container {
  display: flex;
  align-items: center;
  gap: 8px;
  /* These are here so that with or without text, the pill 
  will take up the same height */
  min-height: 1em;
  line-height: 1;
}

.icon {
  width: 12px;
  height: 12px;
  background-color: var(--cord-green-light);
}

.text {
  color: inherit;
}

.components {
  background-color: var(--cat-components);
}
.announcements {
  background-color: var(--cat-announcements);
}
.customization {
  background-color: var(--cat-customization);
}
.api {
  background-color: var(--cat-api);
}
.documentation {
  background-color: var(--cat-documentation);
}