.container{
  display: flex
}

.categoryPill {
  border-radius: 12px;
  margin: 2px;
  padding: 4px;
  padding-inline: 12px;
}

.colorLightGreen {
  background-color: var(--cord-green-light);
}

.colorOrange {
  background-color: var(--cord-orange);
}
.colorGreen {
  background-color: var(--cord-green);
}
.colorBlue {
  background-color: var(--cord-blue-light);
}
.colorPurple {
  background-color: var(--cord-purple-light);
}

.selected {
  border: solid black medium;
}