.container{
  display: flex;
  gap: 4px;
}

.categoryPill {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  background-color: var(--cord-grey);
}

.categoryPill input {
  display: none;
}

.components.selected {
  background-color: var(--cat-components);
}
.announcements.selected {
  background-color: var(--cat-announcements);
}
.customization.selected {
  background-color: var(--cat-customization);
}
.api.selected {
  background-color: var(--cat-api);
}
.documentation.selected {
  background-color: var(--cat-documentation);
}
.bugreport.selected {
  background-color: var(--cat-bugreport);
}


.categoryPill:hover {
  text-decoration: underline;
}

.components:active {
  background-color: var(--cat-components);
  filter: saturate(0.5);
}
.announcements:active {
  background-color: var(--cat-announcements);
  filter: saturate(0.5);
}
.customization:active {
  background-color: var(--cat-customization);
  filter: saturate(0.5);
}
.api:active {
  background-color: var(--cat-api);
  filter: saturate(0.5);
}
.documentation:active {
  background-color: var(--cat-documentation);
  filter: saturate(0.5);
}
.bugreport:active {
  background-color: var(--cat-bugreport);
  filter: saturate(0.5);
}