.channelButton {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "hash channel-name";
  grid-gap: 8px;
  padding: 0 10px 0 16px;
  font-size: 15px;
  line-height: 28px;
  min-height: 28px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--cord-purple-light);
}

.channelButton:hover {
  background-color: var(--cord-purple);
}

.channelButtonActive {
  color: var(--color-white);
}

.channelName {
  grid-area: channel-name;
  text-align: left;
}
