.noPermission {
  grid-area: 'composer';
  background-color: var(--cord-grey);
  padding: 16px;
  color: var(--cord-grey-dark);
  border-radius: 4px;
}

.container {
  padding: 24px;
  gap: 16px;
}

.inputsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px;
  max-width: 900px;
}

.inputContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
}

.label {
  font-size: 0.8rem;
}

.input {
  outline: none;
  border: 1px solid var(--cord-grey);
  transition: border-color 0.3s;
  padding: 6px;
  border-radius: 4px;
}

.input:focus {
  border: none;
  border: 1px solid var(--cord-grey-dark);
  transition: border-color 0.3s;
}

.error {
  color: var(--cord-orange);
}

.toggleContainer {
  display: flex;
  gap: 4px;
  min-width: 400px;
}

.inputContainer :global(.cord-component.cord-composer) {
  min-height: 150px;
  max-height: 300px;
}
