.noPermission {
  grid-area: 'composer';
  background-color: var(--cord-grey);
  padding: 16px;
  color: var(--cord-grey-dark);
  border-radius: 4px;
}

.container {
  padding: 24px;
  gap: 16px;
}

.inputsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 16px;
  max-width: 900px;
}

.inputContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 8px;
}

.label {
  font-size: 0.8rem;
}

.input {
  outline: none;
  border: 1px solid var(--cord-grey);
  transition: border-color 0.3s;
  padding: 6px;
  border-radius: 4px;
}

.input:focus {
  border: none;
  border: 1px solid var(--cord-grey-dark);
  transition: border-color 0.3s;
}

.submitButton {
  justify-self: end;
  padding: 12px 24px;
  background-color: var(--cord-purple);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  border-radius: 4px;
}

.submitButton:hover {
  background-color: var(--cord-purple-highlight); /* Button color on hover */
}

.submitButton:active {
  background-color: var(--cord-purple-light);
}
