.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cord-grey-dark);
  max-width: 500px;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 16px;
}
