.mainNav {
  /* view height minus header */
  height: calc(100vh - 60px);
  max-width: calc(var(--max-sidebar-width) + var(--max-content-width));
  margin: 0 auto;
}

.mainNav nav {
  max-width: var(--max-sidebar-width);
  overflow-x: hidden;
  overflow-y: overlay;
  transition: scrollbar-color 0.25s ease-in-out;
  transition-delay: 0.5s;
}

/* 
The margin: 0 auto on mainNav that originally centered the whole container
will now only be centering the content container, as the sidebar has position:fixed.

This means we no longer have the flexible space between the sidebar nav and content
and we have to do some extra work to make it behave the same as before while 
maitaining the fixed behaviour of the nav bar.

1360 is basically calc(var(--max-sidebar-width) + var(--max-content-width))
we have to hard-code this number as we can't use global vars on media query in CSS
*/
@media (min-width: 1360px) {
  .mainNav nav {
    margin-left: calc((100vw - 1360px) / 2);
  }
}
