.dialog {
  background-color: var(--cord-white);
  padding: 16px;
  border-radius: 4px;
  border: none;
  margin: 0;
}

.darkShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 22px 24px 4px;
}

.darkBackground::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
