.button {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'icon name';
  grid-gap: 8px;
  font-size: 14px;
  line-height: 30px;
  min-height: 28px;
  border: none;
  cursor: pointer;
  color: var(--cord-grey-dark);
  text-decoration: none;
}

.button:hover {
  color: var(--cord-purple-dark);
}

.buttonName {
  grid-area: name;
  text-align: left;
}

.categoryPrefix {
  width: 12px;
  height: 12px;
  background-color: var(--cord-green-light);
}

.components {
  background-color: var(--cat-components);
}
.announcements {
  background-color: var(--cat-announcements);
}
.customization {
  background-color: var(--cat-customization);
}
.api {
  background-color: var(--cat-api);
}
.documentation {
  background-color: var(--cat-documentation);
}
