.button {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'icon name';
  grid-gap: 8px;
  font-size: 14px;
  line-height: 30px;
  min-height: 28px;
  border: none;
  cursor: pointer;
  color: var(--cord-grey-dark);
  text-decoration: none;
  padding: 0 20px;
}

.buttonActive {
  background-color: var(--cord-grey-light);
}

.buttonName {
  grid-area: name;
  text-align: left;
}

.categoryPrefix {
  width: 12px;
  height: 12px;
  background-color: var(--cord-green-light);
}

.colorOrange {
  background-color: var(--cord-orange);
}
.colorGreen {
  background-color: var(--cord-green);
}
.colorBlue {
  background-color: var(--cord-blue-light);
}
.colorPurple {
  background-color: var(--cord-purple-light);
}
