.container {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cord-grey);
  margin-bottom: 16px;
  align-items: baseline;
  padding-top: 8px;
}

@media (max-width: 1024px) {
  .container {
    max-width: calc(100vw - 76px - 16px); /* left and right padding */
  }

  .header {
    flex-direction: column-reverse;
    gap: 12px;
    padding-top: 0;
  }
}

.pageTitle {
  margin-top: 0;
}
