.link {
  all: unset;
  cursor: pointer;
}

.container {
  border-bottom: 2px solid var(--cord-grey-light);
}

.heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons {
  display: flex;
  align-items: center;
}

.pinIcon {
  stroke-width: 4;
  height: 13px;
  width: 13px;
}

.category {
  width: fit-content;
}

.messageSnippet {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.column {
  padding: 8px;
  align-self: center;
}
.participants {
  display: flex;
  justify-content: center;
}
.replies {
  color: var(--cord-grey-dark);
  font-weight: bold;
}
