.link {
  all: unset;
}

.container {
  border-bottom: 2px solid var(--cord-grey-light);
  cursor: pointer;
}

.messageSnippet {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.column {
  padding: 8px;
  align-self: center;
}
.participants {
  display: flex;
  justify-content: center;
}
.replies {
  color: var(--cord-grey-dark);
  font-weight: bold;
}