.link {
  all: unset;
  cursor: pointer;
}

.container {
  border-bottom: 1px solid var(--cord-grey);
  height: 0;
}

.container td:not(:first-child) {
  width: 1%;
  padding: 4px;
}

.heading {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.link:hover {
  color: var(--cord-purple-dark);
}

.icons {
  display: flex;
  align-items: center;
  /* margin bottom to align with threadName */
  margin-bottom: 3px;
}

.threadName {
  margin-bottom: 0;
}

.pinIcon {
  stroke-width: 4;
  height: 13px;
  width: 13px;
}

.category {
  width: fit-content;
}

.messageSnippet {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.column {
  padding: 8px;
  align-self: center;
}
.participants {
  display: flex;
  justify-content: center;
}
.replies {
  color: var(--cord-grey-dark);
  font-weight: bold;
}