body {
  --cord-black: #121314;
  --cord-grey-dark: #696a6c;
  --cord-grey: #dadce0;
  --cord-grey-mid-light: #f1f1f1;
  --cord-grey-light: #f6f6f6;
  --cord-acid: #f4ffa0;
  --cord-acid-light: #fbffdd;
  --cord-orange: #ef927b;
  --cord-orange-light: #fdefef;
  --cord-purple: #9a6aff;
  --cord-purple-dark: #6949ac;
  --cord-purple-light: #ebe9ff;
  --cord-purple-highlight: #a076ff;
  --cord-blue: #0079ff;
  --cord-blue-light: #cae3ff;
  --cord-green: #71bc8f;
  --cord-green-light: #c8edd7;
  --cord-white: #ffffff;
  --cord-alert: #eb5757;

  /* category colors
    calculated using oklch with
    stable lightness (72%) and chroma (0.15),
    for hue then 360 / number of categories.
    handy converter: https://oklch.com/

    This is done to keep the perceived lightness and contrast the same across all colours
  */
  --category-count : 6;
  --offset-angle: 72;
  --cat-components: oklch(72% 0.15 calc((360 / var(--category-count) * 0) + var(--offset-angle)));
  --cat-announcements: oklch(72% 0.15 calc((360 / var(--category-count) * 1) + var(--offset-angle)));
  --cat-customization: oklch(72% 0.15 calc((360 / var(--category-count) * 2) + var(--offset-angle)));
  --cat-api: oklch(72% 0.15 calc((360 / var(--category-count) * 3) + var(--offset-angle)));
  --cat-documentation: oklch(72% 0.15 calc((360 / var(--category-count) * 4) + var(--offset-angle)));
  --cat-bugreport: oklch(72% 0.15 calc((360 / var(--category-count) * 5) + var(--offset-angle)));

  /* sizing */
  --max-sidebar-width: 250px;
  --max-content-width: 1110px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --cord-font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 15px;
  --cord-font-size-body: '15px';
  color: var(--cord-black);
  --cord-color-content-primary: var(--cord-black);
  --cord-line-height-body: 1.46668;
  --cord-composer-height-max: 67vh;
}

html .cord-thread {
  font-size: inherit;
}

html .cord-component .cord-tooltip {
  color: white;
}

html .cord-component .cord-thread-container .cord-collapsed-thread {
  border: none;
}

html .cord-component.cord-component-thread {
  border: none;
}

html
  .cord-component
  .cord-send-button.cord-primary.cord-with-icon.cord-button.cord-small {
  color: white;
}

html .cord-v2.cord-composer {
  max-height: 300px;
}
