body {
  --cord-black: #121314;
  --cord-grey-dark: #696A6C;
  --cord-grey: #DADCE0;
  --cord-grey-light: #F6F6F6;
  --cord-acid: #F4FFA0;
  --cord-acid-light: #FBFFDD;
  --cord-orange: #EF927B;
  --cord-orange-light: #FDEFEF;
  --cord-purple: #9A6AFF;
  --cord-purple-dark: #6949AC;
  --cord-purple-light: #EBE9FF ;
  --cord-purple-highlight: #D1CCFF ;
  --cord-blue: #0079FF;
  --cord-blue-light: #CAE3FF;
  --cord-green: #71BC8F;
  --cord-green-light: #C8EDD7;
  --cord-white: #FFFFFF;

  /* category colors */
  --cat-components: var(--cord-green-light);
  --cat-announcements: var(--cord-orange);
  --cat-customization: var(--cord-green);
  --cat-api: var(--cord-blue-light);    
  --cat-documentation: var(--cord-purple-light);

  /* sizing */
  --max-sidebar-width: 250px;
  --max-content-width: 1110px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
  --cord-font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 15px;
  --cord-font-size-body: '15px';
  color: var(--cord-black);
  --cord-color-content-primary: var(--cord-black);
  --cord-line-height-body: 1.46668;
  --cord-composer-height-max: 67vh;
  --cord-color-base: ${(props) => props.theme.cord.colorbase};
}

html .cord-component {
  font-size: inherit;
}

html .cord-component .cord-tooltip {
  color: white;
}

html .cord-component.cord-timestamp {
  color: var(--cord-grey-dark);
}

html .cord-component .cord-thread-container .cord-collapsed-thread {
  border: none;
}

html .cord-component.cord-component-thread {
  border: none;
}

html .cord-component.cord-avatar-container  {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

html .cord-component .cord-send-button.cord-primary.cord-with-icon.cord-button.cord-small {
  color: white;
}

/* These are for the post details page - Beware!!! They will affect other <Thread/> components from cord :( :(  */
html .cord-component .cord-thread-container .cord-inline-thread .cord-scroll-container .cord-message-block:first-child .cord-message {
  border-radius: 0;
  padding-bottom: 52px;
  border-bottom: 1px solid var(--cord-grey);
}
html .cord-component .cord-thread-container .cord-inline-thread .cord-scroll-container .cord-message-block:first-child .cord-message-options-buttons {
  flex-direction: row;
}
html .cord-component .cord-thread-container .cord-inline-thread .cord-scroll-container .cord-message-block:first-child .cord-message.cord-no-reactions .cord-message-options-buttons {
  flex-direction: row;
  visibility: visible;
}
html .cord-component .cord-thread-container .cord-inline-thread .cord-scroll-container .cord-message-block:first-child .cord-message .cord-message-options-buttons [data-cord-button="thread-options"] {
  visibility: visible;
}
html .cord-component .cord-thread-container .cord-inline-thread .cord-scroll-container .cord-message-block:first-child .cord-message .cord-message-options-buttons [data-cord-button="select-emoji"] {
  visibility: visible;
}