body {
  --cord-black: #121314;
  --cord-grey-dark: #696A6C;
  --cord-grey: #DADCE0;
  --cord-grey-light: #F6F6F6;
  --cord-acid: #F4FFA0;
  --cord-acid-light: #FBFFDD;
  --cord-orange: #EF927B;
  --cord-orange-light: #FDEFEF;
  --cord-purple: #9A6AFF;
  --cord-purple-dark: #6949AC;
  --cord-purple-light: #EBE9FF ;
  --cord-purple-highlight: #A076FF ;
  --cord-blue: #0079FF;
  --cord-blue-light: #CAE3FF;
  --cord-green: #71BC8F;
  --cord-green-light: #C8EDD7;
  --cord-white: #FFFFFF;

  /* category colors
    calculated using oklch with 
    stable lightness (72%) and chroma (0.15), 
    for hue then 360 / number of categories.
    handy converter: https://oklch.com/

    This is done to keep the perceived lightness and contrast the same across all colours
  */
  --cat-components: #dd9314;
  --cat-announcements: #64bc65;
  --cat-customization: #00b8d7;
  --cat-api: #a193fc;   
  --cat-documentation: #ee79a1;

  /* sizing */
  --max-sidebar-width: 250px;
  --max-content-width: 1110px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
  --cord-font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 15px;
  --cord-font-size-body: '15px';
  color: var(--cord-black);
  --cord-color-content-primary: var(--cord-black);
  --cord-line-height-body: 1.46668;
  --cord-composer-height-max: 67vh;
}

html .cord-component {
  font-size: inherit;
}

html .cord-component .cord-tooltip {
  color: white;
}

html .cord-component .cord-thread-container .cord-collapsed-thread {
  border: none;
}

html .cord-component.cord-component-thread {
  border: none;
}

html .cord-component .cord-send-button.cord-primary.cord-with-icon.cord-button.cord-small {
  color: white;
}