.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  /* view height minus (header height + content padding)  */
  height: calc(100vh - (48px + 32px));

  --thread-border-radius: 0px;
  --thread-border-bottom: 1px solid var(--cord-grey);
  --thread-padding-bottom: 24px;
  --thread-margin-bottom: 12px;

  --thread-message-border-bottom: 1px solid var(--cord-grey-mid-light);
  --thread-message-padding-bottom: 8px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding left to match the cord's Thread */
  padding-left: 12px;
  gap: 8px;
  margin-top: 20px;
}

.threadName {
  margin: 0;
}

.icons {
  display: flex;
  align-items: center;
}

.pinIcon {
  stroke-width: 4;
  height: 24px;
  width: 24px;
}

/* These two need to match, so using the variables from above */
.serverMessage:first-child {
  border-radius: var(--thread-border-radius);
  padding-bottom: var(--thread-padding-bottom);
  border-bottom: var(--thread-border-bottom);
  margin-bottom: var(--thread-margin-bottom);
}

.serverMessage:not(:first-child) {
  padding-top: 16px;
}
.serverMessage {
  border-bottom: var(--thread-message-border-bottom);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: minmax(0, auto) 1fr;
  grid-template-rows: minmax(0, auto) auto auto;
  grid-template-areas:
    'avatar name'
    '. messageContent'
    '. reactions';
  padding-left: 12px;
  padding-bottom: var(--thread-message-padding-bottom);
}

.serverMessageContent {
  grid-area: messageContent;
}

.serverAvatar {
  grid-area: avatar;
  border-radius: 4px;
}
.serverNameAndTimestamp {
  grid-area: name;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.serverAuthorName {
  font-weight: bold;
}

.serverNameAndTimestamp :global(.cord-component.cord-timestamp) {
  color: var(--cord-grey-dark);
}
.serverComposerContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--cord-purple-light);
  padding: 20px;
  align-items: center;
}

/* Cord Component Styles */
.container
  :global(
    .cord-thread-container
      .cord-inline-thread
      .cord-scroll-container
      .cord-message-block:first-child
      .cord-message-options-buttons
  ) {
  flex-direction: row;
}
.container
  :global(
    .cord-component
      .cord-thread-container
      .cord-inline-thread
      .cord-scroll-container
      .cord-message-block:first-child
      .cord-message.cord-no-reactions
      .cord-message-options-buttons
  ) {
  flex-direction: row;
  visibility: visible;
}

/* for experimental thread */
.container :global(.cord-component.cord-v2.cord-thread) {
  border: none;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container :global(.cord-component.cord-v2.cord-scroll-container) {
  flex: 1;
}
.container :global(.cord-component.cord-v2.cord-thread-header-container) {
  display: none;
}

/* The SSR and client side rendered thread need to match, so using the variables from above */
.container :global(.cord-component.cord-v2.cord-message:first-child) {
  border-radius: var(--thread-border-radius);
  padding-bottom: var(--thread-padding-bottom);
  border-bottom: var(--thread-border-bottom);
  margin-bottom: var(--thread-margin-bottom);
}

.container :global(.cord-component.cord-v2 .cord-message) {
  margin-top: 8px;
  border-bottom: var(--thread-message-border-bottom);

  padding-bottom: var(--thread-message-padding-bottom);
}

.container :global(.cord-composer.cord-component),
.container :global(.cord-thread-seen-by-container.cord-component) {
  margin-top: 12px;
}

.solutionLabel.marginLeft {
  margin-left: auto;
}

.leftIcon {
  padding: 2px;
}

.markedAsAnswered:global(.cord-component .cord-menu-item-button),
.markedAsAnswered:global(.cord-component .cord-menu-item-button .cord-label) {
  color: var(--cord-green);
}

.deleteActionMenuItem:global(.cord-component .cord-menu-item-button),
.deleteActionMenuItem:global(
    .cord-component .cord-menu-item-button .cord-label
  ) {
  color: var(--cord-alert);
}
