.container {
  all: unset;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: fit-content;
}

.fill:not(.disabled) {
  color: var(--cord-white);
  background-color: var(--cord-purple);
}
.fill:not(.disabled):hover {
  background-color: var(--cord-purple-highlight);
}
.fill:not(.disabled):active {
  background-color: var(--cord-purple-light);
}
.fill.disabled {
  background-color: var(--cord-grey-light);
  color: var(--cord-grey-dark);
  pointer-events: none;
}
.outline:not(.disabled) {
  color: var(--cord-purple);
  background-color: inherit;
  border: 1px solid var(--cord-purple);
}
.outline:not(.disabled):hover {
  color: var(--cord-white);
  background-color: var(--cord-purple-highlight);
  border: 1px solid var(--cord-purple);
}
.outline:not(.disabled):active {
  color: var(--cord-purple);
  background-color: inherit;
  border: 1px solid var(--cord-purple);
}
.outline.disabled {
  background-color: var(--cord-grey-light);
  color: var(--cord-grey-dark);
  border: 1px solid var(--cord-grey);
  pointer-events: none;
}