.container {
  display: grid;
  gap: 12px;
  border: 1px solid var(--cord-grey);
  border-radius: 6px;
  padding: 24px;
  max-width: 600px;
}

.profileInformation {
  display: grid;
}

.toggleContainer {
  display: flex;
  gap: 4px;
  min-width: 400px;
}

.error {
  font-size: 0.8rem;
}

.error {
  color: var(--cord-orange);
}
