.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding left to match the cord's Thread */
  padding-left: 12px;
  gap: 8px;
  margin-top: 20px;
}

.threadName {
  margin: 0;
}

.icons {
  display: flex;
  align-items: center;
}

.pinIcon {
  stroke-width: 4;
  height: 24px;
  width: 24px;
}
/* NOTE!! This is copied from global.css to match a logged in user */
.serverMessage:first-child {
  border-radius: 0;
  padding-bottom: 52px;
  border-bottom: 1px solid var(--cord-grey);
}
.serverMessage:not(:first-child) {
  padding-top: 16px;
}
.serverMessage {
  padding-left: 12px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: minmax(0, auto) 1fr;
  grid-template-rows: minmax(0, auto) auto auto;
  grid-template-areas:
    'avatar name'
    '. message'
    '. reactions';
}
.serverAvatar {
  grid-area: avatar;
  border-radius: 4px;
}
.serverNameAndTimestamp {
  grid-area: name;
  display: flex;
  gap: 4px;
  align-items: flex-end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.serverAuthorName {
  font-weight: bold;
}
.serverTimestamp {
  color: var(--cord-grey-dark);
  font-size: 0.8rem;
}
.serverMessageContent {
  grid-area: message;
}
